DEV_ROOT_PATH=/path/to/monorepo/dir
DEV_APPS_PATH=/path/to/monorepo/apps/dir
DOCS_REPOS_ROOT=/path/to/docs/repos/parent/dir
AUDIOS_PATH=/path/to/generated/audio/dir

FLP_API_TOKEN_PROD=deadbeef-dead-beef-dead-beefdeadbeef
FLP_API_TOKEN_DEV=deadbeef-dead-beef-dead-beefdeadbeef
FLP_API_TOKEN_STAGING=deadbeef-dead-beef-dead-beefdeadbeef

PRINCE_BIN=/path/to/prince-books/bin

CLOUD_STORAGE_REGION=region
CLOUD_STORAGE_BUCKET=bucket
CLOUD_STORAGE_ENDPOINT=endpoint
CLOUD_STORAGE_KEY=key
CLOUD_STORAGE_SECRET=secret
CLOUD_STORAGE_BUCKET_URL=bucket-url

SOUNDCLOUD_USERNAME=you@example.com
SOUNDCLOUD_PASSWORD=password
SOUNDCLOUD_CLIENT_ID=id
SOUNDCLOUD_CLIENT_SECRET=secret
