.DS_Store
*.swp
node_modules/
audios/
en/
es/
.env
**/.build/
**/tsconfig.tsbuildinfo
**/dist/
apps/cover-web-app/src/friends.js
apps/styleguide/src/built-frags.json
apps/styleguide/src/paperback-interior.css
apps/jones/src/preview.css
apps/evans/.cache/
apps/evans/public/
apps/evans/src/css/cover.css
apps/evans/src/ssg/.dpc-cache.json
apps/storybook-web/storybook-static/
apps/poster/src/part-titles.ts
apps/poster/src/cover-props.ts
apps/cli/src/cmd/audio/derived/
apps/cli/src/cmd/audio/.soundcloud-token
**/.parcel-cache
**/.netlify/

# bundled actions
actions/ts-pack/actions/*/bundled/*
!actions/ts-pack/actions/*/bundled/*.js
!actions/ts-pack/actions/deploy/bundled/*.wasm
!actions/ts-pack/actions/pdf/bundled/css1/
!actions/ts-pack/actions/pdf/bundled/css1/common.css
actions/ts-pack/actions/pdf/bundled/css1/ebook/*
!actions/ts-pack/actions/pdf/bundled/css1/pdf/*.css
