.DS_Store
actions/*/bundled/*
!actions/*/bundled/*.js
node_modules/

# flp pdf css is needed
!actions/pdf/bundled/css1/
!actions/pdf/bundled/css1/common.css
actions/pdf/bundled/css1/ebook/*
!actions/pdf/bundled/css1/pdf/*.css
