.DS_Store
*.swp
node_modules/
.env
**/tsconfig.tsbuildinfo
**/dist/
apps/cover-web-app/src/friends.js
apps/styleguide/src/built-frags.json
apps/styleguide/src/paperback-interior.css
apps/jones/src/preview.css
