**/tsconfig.tsbuildinfo
**/dist/
apps/cover-web-app/src/friends.js
apps/styleguide/src/built-frags.json
apps/styleguide/src/paperback-interior.css
apps/native/ios/Pods/
apps/native/vendor/
apps/native/android/app/build/
