pnpm-lock.yaml
**/tsconfig.tsbuildinfo
**/dist/
**/bundled/
**/.build/
**/.next/
en/
es/
artifacts/
apps/api/
apps/cover-web-app/src/friends.js
apps/styleguide/src/built-frags.json
apps/styleguide/src/paperback-interior.css
apps/native/ios/Pods/
apps/native/vendor/
apps/native/android/app/build/
apps/jones/src/preview.css
apps/evans/.cache/
apps/evans/public/
apps/storybook-web/storybook-static/
