--disable blankLinesAtStartOfScope
--disable wrapMultilineStatementBraces
--disable yodaConditions
--binarygrouping none
--decimalgrouping none
--hexgrouping none
--indent 2
--indentcase true
--octalgrouping none
--patternlet inline
--semicolons never
--stripunusedargs closure-only
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first
--wraparguments before-first
--maxwidth 100
--enable redundantReturn
--exclude **/*+Generated.swift
--exclude **/*+Conformances.swift
--exclude **/*+GraphQL.swift
--exclude **/*+Mocks.swift
