@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

@tailwind base;
@tailwind components;

.body-text {
  @apply font-serif antialiased text-gray-800 text-base tracking-wide leading-relaxed;
}
.heading-text {
  @apply font-sans text-flgray-900 text-2xl tracking-widest font-bold antialiased text-center;
}
.strong-link {
  @apply text-flprimary font-bold antialiased tracking-wider fl-underline font-sans;
}

.fl-underline {
  padding-bottom: 0.33em;
  background-image: linear-gradient(
    to top,
    currentColor 0%,
    currentColor 0.18em,
    transparent 0.18em
  );
}

.body-text i,
.body-text em,
.MDX blockquote.italic p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  opacity: 0.875;
  font-size: 0.825em;
  @apply tracking-wider subpixel-antialiased;
}

.subtle-link {
  @apply text-flprimary;
  border-bottom: 1px dotted currentColor;
}

@tailwind utilities;
