@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

@tailwind base;
@tailwind components;

.body-text {
  @apply font-serif antialiased text-gray-800 text-base tracking-wide leading-relaxed;
}
.heading-text {
  @apply font-sans text-flgray-900 text-2xl tracking-widest font-bold antialiased text-center;
}
.strong-link {
  @apply text-flprimary font-bold antialiased tracking-wider fl-underline font-sans;
}
.sans-wide {
  @apply font-sans tracking-wide;
}
.sans-wider {
  @apply font-sans tracking-wider;
}
.sans-widest {
  @apply font-sans tracking-widest;
}

.fl-underline {
  padding-bottom: 0.33em;
  background-image: linear-gradient(
    to top,
    currentColor 0%,
    currentColor 0.18em,
    transparent 0.18em
  );
}

/* algolia search highlight */
mark {
  @apply bg-flprimary-400 text-white;
  padding: 0 1px;
}

.body-text i,
.body-text em,
.MDX blockquote.italic p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  opacity: 0.875;
  font-size: 0.825em;
  @apply tracking-wider subpixel-antialiased;
}

.subtle-link {
  @apply text-flprimary;
  border-bottom: 1px dotted currentColor;
}

.subtle-focus:focus {
  @apply outline-none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.25);
}

.bracketed::before {
  content: '[';
  padding-right: 0.4em;
}

.bracketed::after {
  content: ']';
  padding-left: 0.4em;
}

.diamonds li:before {
  content: '\25c6';
  padding-right: 0.6em;
  margin-left: -1.35em;
  color: rgb(108, 49, 66);
}

/* hack to target safari only */
_::-webkit-full-page-media,
_:future,
:root .diamonds li:before {
  font-size: 11px;
}

:lang(es) .diamonds li:before {
  color: rgb(193, 140, 89);
}

.CartInput {
  @apply w-full rounded-none bg-transparent antialiased tracking-wider border p-3 outline-none border-gray-400;
  margin-bottom: 17px;
  border-bottom-width: 1px;
}

.CartInput.invalid {
  @apply border-red-600;
  margin-bottom: 12px;
  border-bottom-width: 6px;
}

.CartInput.invalid::placeholder {
  @apply text-red-600 font-sans;
}

.CartInput:focus {
  @apply ring bg-blue-100 border-gray-400;
}

select.CartInput {
  -webkit-appearance: none;
}

@screen md {
  .InputWrap > * {
    width: calc(50% - 1em) !important;
  }
}

@tailwind utilities;
