@screen lg {
  .BookByFriend--not-alone {
    max-width: calc(50% - 70px);
  }
  .BookByFriend--main > * {
    margin-right: 5%;
  }
}

@media (min-width: 1080px) {
  .BookByFriend--main > * {
    margin-right: 0;
  }
}

@screen xl {
  .BookByFriend--not-alone {
    max-width: calc(50% - 130px);
  }
}
