.Chapter .Album {
  width: 5.5in;
  height: 5.5in;
  border: 20px solid white;
}

.Chapter .Album .Cover {
  transform: translateY(-1.74in);
}

.Chapter svg.Logo {
  height: 2.25rem;
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
}
