#Footer,
#Footer::before,
#Footer::after {
  background-position: 0 40%;
}

.Footer .GetAppLink {
  display: inline-block;
  transform: translateX(-0.57em);
}

.Footer dt::before {
  content: '[';
  @apply pr-2 opacity-50;
}

.Footer dt::after {
  content: ']';
  @apply pl-2 opacity-50;
}

@media (min-width: 930px) and (max-width: 1024px) {
  .Footer__main {
    @apply pl-12;
  }
  .Footer__main .columns:lang(es) {
    max-width: 680px;
  }
  .Footer__main .columns:lang(en) {
    max-width: 620px;
  }
}

@screen md {
  .Footer .GetAppLink {
    transform: none;
  }
}

@screen lg {
  .Footer__main {
    @apply pl-0;
  }
  .Footer__main .columns:lang(es) {
    max-width: none;
  }
  .Footer__main .columns:lang(en) {
    max-width: none;
  }
}
